<div class="bg-danger text-center text-white py-4">
    <h1>Add Employeee</h1>
  </div>
  
  <div class="container">
    <form >
  
        <div>
        <label for="">EmployeeName</label>
        <input type="text" class="form-control" formControlName="EmployeeName" id="">
        </div>
  
        <div>
            <label for="">EmployeeAddress</label>
            <input type="text" class="form-control" formControlName="EmployeeAddress" id="">
            </div>
  
            <div>
                <label for="">Contact</label>
                <input type="text" class="form-control" formControlName="Contact" id="">
                </div>
  
                <div>
                  <label for="">Qualification</label>
               <input type="text" class="form-control" formControlName="Qualification" id="">
                </div>
              
                  <div>
                    <label for="">EmployeeCode</label>
                 <input type="text" class="form-control" formControlName="EmployeeCode" id="">
                    </div>
                    
                <div>
                  <label for="">Department</label>
               <input type="text" class="form-control" formControlName="Department" id="">
                  </div>
  
                  <div>
                    <label for="">Role</label>
                 <input type="text" class="form-control" formControlName="Role" id="">
                    </div>
  
                    <div>
                      <label for="">Grade</label>
                   <input type="text" class="form-control" formControlName="Grade" id="">
                      </div>
  
                      <div>
                        <label for="">Client</label>
                     <input type="text" class="form-control" formControlName="Client" id="">
                        </div>
  
                        <div>
                          <label for="">Achievements</label>
                       <input type="text" class="form-control" formControlName="Achievements" id="">
                          </div>
    
  
                <div class="center">
                    <input type="submit" value="submit" class="btn-btn-success mt-5" ><a href="EmployeeDetail"></a>
                    </div>
    </form>
  </div>
  